/* BACKGROUND */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

/* CONTAINER */
.container {
  background: white;
  padding: 25px;
  width: 400px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* TITLE */
h1 {
  text-align: center;
}

/* FORM */
form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

#todo-input {
  flex: 1;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 8px;
  cursor: pointer;
}

/* LIST */
#todo-list {
  list-style: none;
  padding: 0;
}

#todo-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fafafa;
}

/* CHECKBOX */
#todo-list input[type="checkbox"] {
  margin-right: 10px;
}

/* TEXT */
#todo-list span {
  flex: 1;
  margin-left: 10px;
}

/* COMPLETED */
.completed span {
  text-decoration: line-through;
  color: gray;
}

/* DELETE BUTTON */
#todo-list button {
  background: crimson;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
}

/* HOVER */
#todo-list li:hover {
  background: #f0f8ff;
}

/* FILTERS */
.filters {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* STATS */
.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}