* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 60px;

  background: linear-gradient(135deg, #0454eb, #2a5298);
}

body.light {
  background: linear-gradient(135deg, #b9fc00, #c3cfe2);
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 25px;
  border-radius: 20px;

  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px rgba(0,0,0,0.2);

  color: white;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-box {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}

button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #2600ffd7;
  color: white;
  transition: 0.3s;
}

button:hover {
  background: #00eb17;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.filters button {
  flex: 1;
  margin: 5px;
  background: rgba(136, 0, 248, 0.2);
}

.filters button.active {
  background: #00c9ff;
}

ul {
  list-style: none;
  margin-top: 20px;
}

li {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background: rgba(255,255,255,0.2);

  display: flex;
  justify-content: space-between;
  align-items: center;

  animation: fadeIn 0.3s ease;
}

li.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.footer button {
  flex: 1;
  margin: 5px;
  background: rgba(240, 0, 0, 0.2);
}

@keyframes fadeIn {
  from {opacity: 0; transform: translateY(10px);}
  to {opacity: 1; transform: translateY(0);}
}